/* --------------CSS RESET------------------------------ */

/* 1. Using easy to style box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Removing default margin */
* {
    margin: 0;
}


/* 5. Improving media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoiding text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Better line wrapping */
p {
    text-wrap: pretty;
}


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

:root {
    --clr-brown-900: hsl(37, 42%, 14%);
    --clr-brown-500: hsl(37, 59%, 45%);
    --clr-neutral-700: hsl(0, 0%, 44%);
    --clr-neutral-500: hsl(0, 0%, 100%);
}

body {
    /* 3. Adding accessible line-height */
    line-height: 1.2;
    /* 4. Improving text rendering */
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    font-family: "Montserrat", serif;
    /* Font Weight : 400, 700  */

    font-weight: 400;
    letter-spacing: -0.03em;
}

/* ---------------PAGE WRAPPER------------------------ */
.page-wrapper {
    max-width: 980px;
    margin: 0 auto;
    width: 90%;
}

/* --------------HERO TITLE AND IMAGE---------------------- */

.hero-title {
    color: var(--clr-brown-900);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    padding: 1em;
}

.text-highlighter {
    color: var(--clr-brown-500);
    border-bottom: 2px solid var(--clr-brown-500)
}

.hero-img {
    height: auto;
    margin: 0 auto
}

/* -----------------GLOBAL SECTION STYLING----------------------------- */
.container {
    margin-top: 1.6em;
    text-align: justify;
    max-width: 100%;

}

.section-heading {
    margin-bottom: 1em;
    color: var(--clr-brown-900);
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 1em;
}

.highlighter-container {
    background-color: var(--clr-brown-900);
    color: var(--clr-neutral-500);
    padding: 1em;
    max-width: 200px;
    border-left: 4px solid var(--clr-brown-500);


}

/* -------------------TOP CONTAINER-------------------------------- */

.top-container {
    display: flex;
    gap: 1.5rem;
}

.left-top-container {
    flex-grow: 1;
}

.middle-top-container {
    flex-grow: 2;
}

.top-container .highlighter-container {
    flex-grow: 1;
}



.middle-body {
    margin-bottom: 1em;
}

/* ---------------------BOTTOM CONTAINER------------------------------- */

.bottom-container {
    display: flex;
    gap: 3rem;
    padding-bottom: 2em
}

.left-bottom-container {
    flex-grow: 3;
}

.bottom-container .highlighter-container {
    flex-grow: 1;
}

/* ---------------MEDIA QUERIES------------------------ */


/* ----TABLET SCREENS------------ */
@media (max-width:800px) {
    body {
        font-size: 0.9rem;
        letter-spacing: -0.02em;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .section-heading {
        font-size: 1.3rem;
    }

    .top-container,
    .bottom-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .section-container {
        max-width: 100%;
    }

    .section-heading {
        margin-bottom: 0.5em;
    }

}

/* ------MOBILE SCREENS------------- */

@media (max-width:500px) {

    body {
        font-size: 0.8rem;
        letter-spacing: -0.01em;
    }

    .hero-title {
        font-size: 1.3rem;
    }

    .section-heading {
        font-size: 1.1rem;
    }

    .top-container,
    .bottom-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .section-container {
        max-width: 100%;
    }

    .section-heading {
        margin-bottom: 0.5em;
    }

    .left-top-container,
    .middle-top-container,
    .highlighter-container {
        min-width: 150px;
        flex-shrink: 1;
    }

}